@font-face {
    font-family: "FiraCode NF";
    src: url(../public/firaCodeNF.ttf);
}

.dark {
    background-color: rgb(27, 27, 27);
    font-family: "FiraCode NF";
    color:white;
}

.defaultText {
    margin: 12px;
    font-family: "FiraCode NF";
    color:white;
}

.comiksand {
    margin: 12px;
    font-size: 24px;
    font-family: "Comic Sans MS";
    color:white;
}

.defaultLinkButton {
    color:white;
    text-decoration: none;
    cursor:pointer;
    font-family: "FiraCode NF";
    font-size: 24px;
    margin: 12px;
}